body{
  background-color: #04009a;
}

.heading{
  text-align: center;
  color: #FFF;
  padding-top: 1.5rem;
}

#bars{
    padding-top: 1rem;
    margin-top: 1rem;
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    height: 500px;
    justify-content: center;
    transition: 2s all ease;
}

#size, #speed{
  color: #FFF;
  font-size: 1.5rem;
  font-weight: bold;
}

.bar-style{
    background: cyan;
    border: 1pt solid black;
    width: 10px;
    transition: 0.1s all ease;
}

.btn{
  font-weight: 500;
}

.navbar{
  padding: 2.5rem 1.5rem;
}
